@keyframes slider-header {
  0% {
    left: 0%;
  }
  22% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  47% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 0;
    left: -300%;
  }
  98.1% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider-reviews {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  17% {
    left: -100%;
  }
  32% {
    left: -100%;
  }
  34% {
    left: -200%;
  }
  49% {
    left: -200%;
  }
  51% {
    left: -300%;
  }
  66% {
    left: -300%;
  }
  68% {
    left: -400%;
  }
  83% {
    left: -400%;
  }
  85% {
    left: -500%;
  }
  98% {
    left: -500%;
  }
  100% {
    left: 0%;
  }
}

@keyframes button-bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
