*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ----------------
|       BASE       |
 ---------------- */

body,
html {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 350px;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

ul {
  margin-top: 0;
}

/* ----------------
|      STYLING     |
 ---------------- */

.h2-style {
  text-align: center;
  text-transform: uppercase;
}

.h2-style:after {
  content: '';
  display: block;
  border-bottom: #cc3333 solid 2px;
  width: 5%;
  margin: 10px auto 1em;
}

.h3-style {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  display: grid;
  margin: 0 auto;
  width: fit-content;
}

.h3-style:after {
  content: '';
  display: block;
  border-bottom: #cc3333 solid 1px;
  width: 100%;
  margin: 0 auto 0;
}

.medium-space {
  margin-bottom: 10em;
  padding: 1px;
}

.medium-width {
  margin: 0 auto 10em;
  max-width: 1024px;
}

.full-width {
  margin-bottom: 0;
  max-width: 100vw;
}

/* ----------------
|     ARROWS      |
 ---------------- */

.arrow {
  color: #ccc;
  opacity: 0.5;
  font-size: 2rem;
  animation: 4s arrow-bounce ease-in-out infinite both;
  width: 100%;
}

.arrow-default {
  max-width: 1024px;
  padding: 0 1em;
  margin: 0 auto;
  text-align: center;
}

/* ----------------
|     BUTTONS    |
 ---------------- */

.btn {
  background-color: #cc3333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em 1.3em;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all, 0.3s;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.125);
  outline: none;
  border: none;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  outline: none;
}

/* ----------------
|     ACTIONS      |
 ---------------- */

.hide {
  display: none;
}

/* ----------------
|     KEYFRAMES   |
 ---------------- */

@keyframes slider-header {
  0% {
    left: 0%;
  }
  22% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  47% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 0;
    left: -300%;
  }
  98.1% {
    opacity: 0;
    left: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider-reviews {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  17% {
    left: -100%;
  }
  32% {
    left: -100%;
  }
  34% {
    left: -200%;
  }
  49% {
    left: -200%;
  }
  51% {
    left: -300%;
  }
  66% {
    left: -300%;
  }
  68% {
    left: -400%;
  }
  83% {
    left: -400%;
  }
  85% {
    left: -500%;
  }
  98% {
    left: -500%;
  }
  100% {
    left: 0%;
  }
}

@keyframes button-bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0px);
    text-shadow: 0 12px 6px rgba(0, 0, 0, 0.09);
  }
  25% {
    transform: translateY(10px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }
  50% {
    transform: translateY(0px);
    text-shadow: 0 12px 6px rgba(0, 0, 0, 0.09);
  }
  75% {
    transform: translateY(10px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }
  100% {
    transform: translateY(0px);
    text-shadow: 0 12px 6px rgba(0, 0, 0, 0.09);
  }
}

/* ----------------
|     NAVBAR       |
 ---------------- */

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #121212;
  align-items: end;
  padding: 1em;
  height: max-content;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.site-logo {
  max-height: 100px;
}

.hamburger,
.close {
  visibility: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-transform: uppercase;
  border-bottom: 2px solid #121212;
  transition: all, 0.4s;
}

.nav__link:link,
.nav__link:visited {
  color: #fff;
}

.nav__link:hover,
.nav__link:focus {
  color: #cc3333;
  border-bottom: 2px solid #cc3333;
}

.nav__link.active {
  color: #515151;
  border-bottom: 2px solid #cc3333;
  cursor: default;
}

/* -----------------------
|     HEADER CAROUSEL    |
 ----------------------- */

.slider-container {
  overflow: hidden;
  margin-bottom: 8em;
  background-color: #121212;
  position: relative;
}

.slider {
  position: relative;
  height: calc(100vh - 132px);
  width: 400%;
  margin: 0;
  left: 0;
  animation: 20s slider-header ease-in-out infinite;
}

.slide {
  height: 100%;
  width: 25%;
  float: left;
  object-fit: cover;
  object-position: top;
}

.slide img {
  width: 100%;
  z-index: 1;
  position: relative;
}

.slide-text {
  color: white;
  padding: 1em;
  font-size: 3rem;
  text-shadow: 4px 4px 10px black;
  z-index: 2;
  position: absolute;
  top: calc(50% - 132px);
  width: 25%;
  text-align: center;
}

.btn-row-header {
  z-index: 3;
  position: absolute;
  display: grid;
  bottom: 0;
  width: 100%;
}

.slide-btn {
  justify-self: center;
  margin-bottom: 1em;
  font-size: 1.1rem;
  animation: 5s button-bounce ease-in-out infinite both;
}

.slide-btn:hover,
.slide-btn:focus {
  transform: scale(1.1);
  animation: none;
}

/* ----------------
|     SERVICES    |
 ---------------- */

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 1em;
  text-align: center;
}

.service {
  border-radius: 20px;
  background-color: #fefefe;
  padding: 0.5em;
  transform: scale(1);
  transition: all, 0.4s;
}

.service:hover {
  transform: scale(1.05);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.05);
}

.service-icon {
  font-size: 3rem;
  color: #cc3333;
}

/* ----------------
|     PROMO        |
 ---------------- */

.promo {
  display: flex;
  padding: 1em;
}

.promo-video {
  margin-right: 1em;
  width: 50%;
  border-radius: 15px;
  transform: scale(1);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.125);
  transition: all, 0.3s;
}

.promo-video:hover,
.promo-video:focus {
  transform: scale(1.01);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}
.promo-description {
  width: 50%;
}

.promo-description ul {
  padding-left: 0;
  font-size: 1rem;
  margin-bottom: 0;
}

.promo-description li {
  margin-bottom: 0.6em;
  list-style-position: outside;
  list-style: none;
  margin-left: 0;
  box-shadow: 0em 0em 0.45em rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 0.4em;
  transform: translateY(0px);
  transition: all, 0.4s;
}

.promo-description li:hover {
  transform: translateY(-4px);
}

/* ----------------
|     REVIEWS     |
 ---------------- */

.reviews-container {
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #fafafa;
  padding: 2em;
  margin-bottom: 8em;
}

.reviews {
  position: relative;
  width: 600%;
  margin: 0;
  left: 0;
}

.review {
  height: 100%;
  width: calc(100% / 6);
  float: left;
  padding: 1em;
}

.review-text {
  max-width: 1024px;
  width: 90%;
  padding: 1em;
  margin: 0 auto 1em;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.5;
}

.review-image {
  height: 6em;
  margin: 0 0 1em;
  border-radius: 100%;
  border: solid 2px #fff;
}

.review-author {
  color: #cc3333;
  font-weight: lighter;
  margin: 0 1em 0.3em;
}

.review-author-description {
  margin: 0;
  color: #777;
  font-size: 0.9rem;
  margin: 0 1em 0;
}

.pause-button,
.start-button {
  border: unset;
  background-color: unset;
  font-size: 2rem;
  opacity: 0.5;
  padding: 3px;
  margin: 0;
  transition: opacity 0.2s, transform 0.1s;
  transform: scale(1);
}

.pause-button:hover,
.start-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.pause-button:focus,
.start-button:focus {
  outline: 0;
}

.pause-button:active,
.start-button:active {
  transform: scale(1.1);
}

.running {
  animation: 40s slider-reviews ease-in-out infinite;
}

.pause {
  animation-play-state: paused;
}

/* -----------------------
| INTRODUCTIE-PAKKETTEN  |
 ---------------------- */

.arrows-introduction-cards {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
  column-gap: 2em;
}

.arrows-introduction-cards .arrow {
  width: 400px;
  text-align: center;
}

.lesson-cards {
  display: flex;
  justify-content: space-between;
}

.card-proef {
  display: grid;
  grid-template-areas:
    'head'
    'main'
    'main'
    'main'
    'button';
}

.card {
  background-color: #fafafa;
  padding: 1em;
  margin: 1em;
  width: 400px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.125);
  transform: scale(1);
  transition: all, 0.3s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

.card h3 {
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  grid-area: head;
  padding: 0.7em;
  border-bottom: solid 2px #cc333322;
  margin-bottom: 2em;
  width: 100%;
  background-color: #fff;
  border-radius: 11px 11px 0 0;
}

.card span {
  font-size: 0.7em;
  text-transform: lowercase;
  font-style: italic;
  font-weight: normal;
  padding-right: 2px;
}

.card ul {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: main;
}

.card li {
  line-height: 2em;
}

.card-btn {
  margin: 1em;
  justify-self: center;
  align-self: end;
  grid-area: button;
}

/* --------------------
| REGULIERE-PAKKETTEN  |
 -------------------- */

.card-regular ul {
  background-color: #fff;
  width: 100%;
  border-radius: 11px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
}

.card-regular li span {
  font-style: italic;
  font-size: 0.8rem;
}

.card-regular li:after {
  content: '';
  display: block;
  border-bottom: solid 1px #cc333322;
  width: 100%;
  margin: 0 auto 0.7em;
}

.card-regular li:nth-last-child(1):after {
  border-bottom: none;
}

.card-regular li:first-child {
  font-weight: bold;
  margin-top: 0.7em;
}

/* .card-regular:nth-last-child(1) {
  margin-right: 0;
} */

.price {
  font-weight: bold;
  font-size: 1.2rem;
}

/* ----------------
|     FOOTER       |
 ---------------- */

footer {
  background-color: #121212;
  color: #aaa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  padding: 2em 0 1em;
  height: min-content;
  width: 100%;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 2em);
  font-size: 2rem;
  justify-items: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  line-height: 2;
}

footer a:visited,
footer a:link {
  color: #ccc;
  transition: all, 0.3s;
}

footer a:hover,
footer a:focus {
  color: #cc3333;
}

footer p {
  text-align: center;
  grid-column: 2 / 3;
  margin: 1.5em 0 0 0;
}

/* -------------------------
| CONTAINER ACCESSIBILITY   |
 ------------------------- */

.container-accessibility {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em;
}

.map-accessibility {
  padding: 0;
}

.map {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  min-height: fit-content;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.125);
}

.cards-accessibility {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  text-align: center;
  min-height: 400px;
}

.card-accessibility {
  display: grid;
  grid-template-rows: 1fr 5fr;
  border-radius: 15px;
  height: 200px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.125);
}

.card-accessibility h3 {
  padding: 0;
  margin: 1.4em 0 0;
  text-transform: uppercase;
}

.card-accessibility i {
  font-size: 2.8rem;
  align-self: start;
  padding-top: 40px;
}

/* FLIP CARD ANIMATION ON HOVER */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: #fafafa;
  border-radius: 15px;
}

.flip-card-back {
  transform: rotateY(180deg);
  text-align: left;
  padding: 0 1em;
}

.flip-card-back a:link,
.flip-card-back a:visited {
  color: #cc3333;
}

/* ----------------
|   CONTACT FORM   |
 ---------------- */

.contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: repeat(4, 1fr);
  grid-template-areas:
    'name message'
    'email message'
    'subject message'
    'submit submit';
  gap: 1em;
  width: 100%;
  margin: 1em auto 0;
  padding: 5% 20%;
  background: #fafafa;
}

input {
  height: 3em;
}

textarea {
  resize: none;
}

input,
textarea {
  font-family: inherit;
  border: 0;
  outline: 0;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

input:focus,
textarea:focus {
  box-shadow: 0 0px 2px #cc3333;
}

.input-name {
  grid-area: name;
}

.input-email {
  grid-area: email;
}

.input-subject {
  grid-area: subject;
}

.input-message {
  grid-area: message;
}

.btn-form {
  grid-area: submit;
  justify-self: end;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
.btn-form:hover,
.btn-form:focus {
  transform: scale(1.02);
}

/* ----------------
| LESINFO SECTION  |
 ---------------- */

.lesinfo-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  border-radius: 15px;
  min-height: 753px;
}

.lesinfo-section h3 {
  font-weight: bold;
}

.rooster,
.voorwaarden {
  border: none;
  background-color: white;
  padding: 1em;
}

/* ----------------
| DOCENT SECTION  |
 ---------------- */

.docent-top {
  background-color: #161616;
  background-image: linear-gradient(#121212 0%, #161616 25%, #191919 100%);
  color: #fefefe;
  text-align: center;
  padding: 5em;
}

.docent-top h1 {
  margin-top: 0;
}

.docent-top img {
  width: 50%;
  margin: 2em;
  border-radius: 55px;
}

.docent-biography-header {
  background-color: #cc3333;
  color: #fefefe;
  text-align: center;
  padding: 5em;
}

.docent-biography-header h2 {
  text-decoration: underline;
}

.docent-biography-story {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 4em;
  width: 80%;
}

.story-block {
  border-radius: 15px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.125);
  padding: 1em;
  transition: 0.4s;
}

.story-block:hover {
  transform: scale(1.01);
}

.video-block iframe {
  width: 100%;
  height: 100%;
}

.docent-biography-story h2 {
  color: #cc3333;
  margin: 0;
}

.docent-biography-story p {
  line-height: 1.6;
}

.docent-biography-current {
  background-color: #cc3333;
  color: #fefefe;
  text-align: center;
  padding: 1em 0 3em;
  margin-bottom: 8em;
}

.docent-biography-current h2 {
  margin-bottom: 0.5em;
}

.docent-biography-current p {
  max-width: 512px;
  padding: 1em;
  margin: 0 auto;
  line-height: 1.7;
}

.btn-row-docent {
  display: flex;
  justify-content: flex-start;
}

.btn-proefles {
  margin: 0 1em 0 0;
}

.btn-proefpakket {
  margin: 0;
}
